#Virtual Environment
venv/
.env/

#Compiled Python Files
__pycache__/
*.pyc

#Database Files
*.sqlite3
*.db

#Media and Static Files
media/
static/
staticfiles/


*.log

#IDE/Text Editor Configurations
.idea/
*.sublime-
*.swp
*.swo
